/**
* This is the main style file with media queries
*/

@media only screen and (min-width: 576px){
    
}

@media only screen and (min-width: 767px){
    
}

@media only screen and (min-width: 992px){
    
}

@media only screen and (min-width: 1200px){    

}